@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-forest-50:  #fdefff;
    --color-forest-100: #f8d6ff;
    --color-forest-200: #f3baff;
    --color-forest-300: #e88fff;
    --color-forest-400: #d963ff;
    --color-forest-500: #be28e5; /* brighter main */
    --color-forest-600: #9c0fbd;
    --color-forest-700: #780a92;
    --color-forest-800: #530467;
    --color-forest-900: #360345;
    --color-earth-50: #fafaf9;
    --color-earth-100: #f5f5f4;
    --color-earth-200: #e7e5e4;
    --color-earth-300: #d6d3d1;
    --color-earth-400: #a8a29e;
    --color-earth-500: #78716c;
    --color-earth-600: #57534e;
    --color-earth-700: #44403c;
    --color-earth-800: #292524;
    --color-earth-900: #1c1917;
}